<plugin name='quick-input' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>Tim Rademacher</author>
  <authorEmail>sapsiero@gmx.de</authorEmail>
  <title>Quick Input Plugin</title>
  <description>mass input fields for date and number input
</description>
  <documentation>http://grails.org/plugin/quick-input</documentation>
  <type>QuickInputGrailsPlugin</type>
  <resources>
    <resource>NumberFormatFilters</resource>
    <resource>com.finweb.quickInput.FormatService</resource>
    <resource>com.finweb.quickInput.FormatTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>